:root{
    --primary-color:#e50914;
    --secondary-color: #f61723;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background:#000;
    color: #999;
}

h1, h2, h3, h4 {
    color: #fff;
}

a{
    color: #fff;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('./img/download.jpg')no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    box-shadow: inset 80px 50px 150px #000000, inset -80px -50px 150px #000000;
}

.showxase-top{
    position: relative;
    height: 90px;
    z-index: 2;
}

.showxase-top a {
    color: #fff;
    float: right;
    margin:30px 15px 0 0;
    background: var(--primary-color);
    padding: 7px 17px;
    border-radius: 3px;
    border: none;
    margin-right: 2rem;
}

.showxase-top img{
    width: 170px;
    position: absolute;
    margin-left: 2rem;
}

.showxase-content{
    display: flex;
    position: absolute;
    text-align: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.showxase-content h1{
    color: #fff;
    max-width: 800px;
    font-size: 3.4rem;
    margin: 0 auto;
}

.showxase-content h3 {
    color: #fff;
    margin: 16px auto;
    margin: 1rem 0 1rem 0;
    font-size: 1.4rem;
}

.showxase-content .email{
    background: #fff;
    min-width: 500px;
    height: 60px;
    font-size: 1rem;
    padding: 0px 10px 0;
    border-radius: 2px;
}

.showxase-content .btn-show{
    background: var(--primary-color);
    padding:10px 3.25rem 15px 1.6125rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
}

.showxase-content .btn-show:hover{
    background: var(--secondary-color);
}

.showxase-content .sub-text{
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
}

.crack{
    background: #2e2e2e;
    width: 100%;
    height: 10px;
}

.container1 {
    position: relative;
    display: flex;
    height: 500px;
}

.container1 .info{
    background:#000 ;
    color: #fff;
    margin-left: 3rem;
}

.container1 .info h1{
    margin: 200px 0 0 100px;
    font-size: 38px;
    font-weight: 900;
}

.container1 .info h3{
    margin: 1rem 0 0 100px;
}

.container1 .img1{
    direction: ltr;
    font-size: 16px;
    -webkit-font-smoothing:antialiased;
}

.promo{
    margin:150px 200px 0 150px;
    width: 1000px;
}

.container2 {
    position: relative;
    display: flex;
    height: 500px;
}

.container2 .info2{
    background:#000 ;
    color: #fff;
    margin-left: 3rem;
}

.container2 .info2 h1{
    margin: 200px 100px 0 100px;
    font-size: 38px;
    font-weight: 900;
}

.container2 .info2 h3{
    margin: 1rem 0 0 100px;
}

.container3 h1{
    margin: 2rem 0 2rem 0;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

 .btn{
    margin: auto;
    display: block;
    background-color: #353535;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
}
 
.active, .btn:hover{
    background-color: #555;
}

.content{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #353535;
    color: #fff;
}

.container3 i{
    float: right;
}

.box{
    margin-bottom: 10px;
}

form .email-ag{
    background: #fff;
    min-width: 500px;
    height: 60px;
    font-size: 1rem;
    padding: 0px 10px 0;
    border-radius: 2px;
}

form .btn-show-ag{
    background: var(--primary-color);
    padding:10px 3.25rem 15px 1.6125rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
}

form .btn-show-ag:hover{
    background: var(--secondary-color);
}

form .sub-text-ag{
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container3 form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container3 form button{
    margin-top: 0.8rem;
}

.container3 form button i {
    margin-left: 2rem;
    margin-top: .2rem;
}

.contact{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.container4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 4rem auto 4rem auto;
    width: 80%;
    font-size: 0.8rem;
}

.container4 form{
    margin-top: 2rem;
}

.country{
    /* margin-top: 1rem; */
    width: 150px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background: #000;
}

.footer{
    text-align: center;
    margin: 1rem 0 2rem 0;
}